<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' request.session.community_id %}">Video Sharing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' request.session.community_id %}">Home</a></li>
                {% if user.id is not None %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'add' %}">Add</a></li>
                {% endif %}
                {% if user.id is not None %}
                <li class="nav-item"><a class="nav-link" href="{% url 'list_video' %}">List</a></li>
                {% endif %}
                {% if user.id is not None %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'resident_logout' %}">Logout</a></li>
                {% endif %}
            </ul>
            {% if user.id is not None %}
                <li class="nav-item me-3 list-unstyled">Hi, User {{user.first_name}}</li>
                <a class="btn btn-outline-dark" href="{% url 'manage_resident' %}">
                    <i class="bi-cart-fill me-1"></i>
                    Resident
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{community.residents.all.count}}</span>
                </a>
            {% else %}
                <li class="nav-item me-3 list-unstyled">Hi, Resident {{resident.name}}</li>
            {% endif %}
        </div>
    </div>
</nav>