{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-4 fw-bolder me-4" id="community" communityId="{{community.id}}">{{community.name}}</h1>
                <input type="text" id="myInput" style="display: none;">
                <div class="toolTip">
                    <button onclick="myFunction()" onmouseout="outFunc()" class="btn btn-primary">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        LogIn Link
                    </button>
                </div>
            </div>
            {% if user.id is not None or resident.is_staff %}
                {% csrf_token %}
                {% crispy form %}
            {% endif %}
        </div>
    </div>
</header>
<section class="pb-3">
    <div class="container px-4 px-lg-5 mt-5" style="position: relative;">
        <h3 class="mb-3">&lt;Playlists&gt;</h3>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a id="prev" href="?page={{ page_obj.previous_page_number }}" style="position: absolute; top: 170px; left: -10px; font-size: 3em;">&laquo;</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a id="next" href="?page={{ page_obj.next_page_number }}" style="position: absolute; top: 170px; left: 1300px; font-size: 3em;">&raquo;</a>
                {% endif %}
            </span>
        </div>
        <div id="ajax_videoList_result">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="videoList">
                {% for video in videos %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- New badge, uploaded within a week -->
                            {% if video.is_new %}
                                <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">New</div>
                            {% endif %}
                            <!-- Video image-->
                            <iframe width="269" height="250"
                                src="{{video.url}}">
                            </iframe>
                            <!-- Video details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder text-nowrap mb-0">{{video.title}}</h5>
                                    <a href="{% url 'delete_video' video.id %}">delete</a>
                                    <span class="d-block">
                                        {{video.created_at|timesince}} ago
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'video' video.id %}">detail view</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/pagination.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('submit', 'form', function(e){
            e.preventDefault();
            var community_id = $('#community').attr('communityId');
            $.ajax({
                url: '/home/community/'+community_id,
                type: "POST",
                data: $(this).serialize(),
                success: function(data) {
                    if (!(data['success'])) {
                        console.log(data)
                        $('form').replaceWith(data['form_html']);
                    }
                    else {
                        window.location.replace('/home/community/'+community_id);
                    }
                },
                error: function () {
                    $('form').find('.error-message').show();
                }
            });
        })
        var url_start = window.location.protocol + window.location.hostname + ':' + window.location.port
        document.getElementById('myInput').value = url_start + '/resident_login/' + $('#community').attr('communityId'); 
    })
    function myFunction() {
        $('#myInput').show();
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        $('#myInput').hide();
        
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied!";
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>
{% endblock %}