{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Select Communities{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="d-flex justify-content-center">
        <img src="{% static 'image/community_image.png' %}" alt="logo" style="height: 540px; width: 500px;" class="me-5 mt-4">
        <div class="card p-2 mt-5" style="background-color: aliceblue;">
            <div class="card-body" style="width: 430px;">
                <h3 class="mb-4">Select community</h3>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <select name="community" id="" class="form-control">
                        {% for community in communities %}
                        <option value="{{community.id}}">{{community.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}